<mat-grid-list cols="2" rowHeight="1.5:1">
  <mat-grid-tile style="padding: 5px">
    <mat-card style="width: 100%; height: 100%;">
      <mat-card-header>
        <mat-card-title>List years with multiple Winners</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-report-list-winners/>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile style="padding: 5px">
    <mat-card style="width: 100%; height: 100%;">
      <mat-card-header>
        <mat-card-title>Top 3 studios with Winners</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-report-top-three/>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile style="padding: 5px">
    <mat-card style="width: 100%; height: 100%;">
      <mat-card-header>
        <mat-card-title>Producers with longest and shortest interval between wins</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-report-interval-wins/>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile style="padding: 5px">
    <mat-card style="width: 100%; height: 100%;">
      <mat-card-header>
        <mat-card-title>List movies winner by year</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-report-list-movies-by-year/>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
